.logo {
    width: 208px;
    height: 97px;
    text-align: center;
    display: inline-block;
}

.gif {
    width: 208px;
    /* width of container */
    height: 97px;
    /* height of container */
    object-fit: cover;
    /* border: 5px solid black; */
}

body {
    /* font-family: 'helvetica'; */
    background: black;
    font-family: sans-serif;
    text-align: center;
    /* background: url(seats2.jpg); */
    background-size: cover;
}

.outer-container {
    /* background: white; */
    flex-basis: 100%;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.item-wide {
    flex-grow: 2;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.star {
    width: 300px;
    height: 300px;
    z-index: 99;
}

.hide {
    visibility: collapse;
    height: 50;
}

#hide {
    height: 20%;
}

.outermost {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}