h1,
.subheading {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Oranienbaum', serif;
    font-weight: lighter;
}

body {
    /* font-family: 'helvetica'; */
    /* background: url("../img/Home/sponsbg.jpg"); */
    font-family: sans-serif;
    text-align: center;
    /* background: url(seats2.jpg); */
    background-position: left;
    background-size: cover;
}


/* .sponsors-cont {
font-family: 'Girassol', cursive;
} */

#contain {
    height: 900px;
    width: 100%;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
}

.subheading {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Oranienbaum', serif;
    font-weight: lighter;
}


/* #table_scroll {
width: 100%;
margin-top: 100px;
margin-bottom: 100px;
border-collapse: collapse;
}

#table_scroll thead th {
padding: 10px;
background-color: #ea922c;
color: #fff;
}

#table_scroll tbody td {
padding: 10px;
background-color: #ed3a86;
color: #fff;
} */

.sponsors-inner {
    width: 100%;
    max-width: 1115px;
    margin: 0 auto;
    color: #fff;
}

.team {
    font-family: 'Roboto Condensed', serif;
}

.container_name {
    flex-basis: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* display: flex; */
}

.container_name>div {
    flex: 1;
}

*:not(input):not(select):not(textarea) {
    outline: 0;
    -webkit-appearance: none;
    user-select: none;
}

* {
    outline: 0;
    box-sizing: border-box;
}

*:not(input):not(select):not(textarea):after,
*:not(input):not(select):not(textarea):before {
    box-sizing: border-box;
}

*:not(input):not(select):not(textarea):after,
*:not(input):not(select):not(textarea):before {
    box-sizing: border-box;
}

h1,
.h1 {
    font-size: 48px;
    font-weight: lighter;
    margin: 0
}

.h3.large {
    font-size: 80px;
    text-transform: capitalize;
    /* font-family: 'Roboto Condensed', serif; */
    /* font-family: 'Girassol', cursive; */
    font-family: 'Oranienbaum', serif;
}

@media only screen and (max-width:1440px) {
    h1,
    .h1 {
        font-size: 36px;
        font-weight: normal;
        margin: 0
    }
    .h3.large {
        font-size: 84px;
    }
}

@media only screen and (max-width:1370px) {
    h1,
    .h1 {
        font-size: 28px
    }
    .h3.large {
        font-size: 72px;
    }
}

@media only screen and (max-width:767px) {
    h1,
    .h1 {
        font-size: 18px
    }
    .h3.large {
        font-size: 48px;
    }
}

h1,
.h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.img-wrap {
    display: block;
}

a {
    color: inherit;
    text-decoration: none !important;
    cursor: pointer;
}

.poc {
    color: white;
    font-size: 20px;
    font-family: 'Gupter', serif;
}

p {
    /* font-weight: bold; */
    font-family: 'Oranienbaum', serif;
    color: rgb(25, 28, 29);
    font-size: 30px;
}

.catgC {
    /* background: white; */
    flex-basis: 100%;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.outermostFlex {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 50px;
    padding-right: 50px; */
}

.item-wide-gap {
    flex-grow: 2;
}