.grid {
    display: grid;
    grid-template-columns: 245px 245px 245px;
    grid-template-rows: 50px, 50px, 100px, 100px;
    grid-template-areas: "Lorde . ." ". In . " "Perfect Perfect . " ". Places Places ";
    padding: 0rem 1rem;
    margin: auto;
    width: 700px;
}

h1.texth {
    color: #e28949;
    text-shadow: 3px 3px 0px #000;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.lorde {
    grid-area: Lorde;
    font-size: 1.8vw;
}

.in {
    grid-area: In;
    font-size: .8vw;
}

.perfect {
    grid-area: Perfect;
    font-size: 4vw;
}

.places {
    grid-area: Places;
    font-size: 5rem;
}

@media screen and (max-width:100px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1fr, 1);
        grid-template-rows: repeat(1fr, 1);
        grid-template-areas: "Lorde" "In" "Perfect" "Places";
        padding: 0rem 1rem;
        width: 100%;
    }

    .perfect, .places {
        font-size: 3.7rem;
    }
}
