.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}

    .testimonials .testimonial-item {
        max-width: 18rem
    }

        .testimonials .testimonial-item img {
            max-width: 12rem;
            /*-webkit-box-shadow: 0 5px 5px 0 #adb5bd;*/
            /*box-shadow: 0 5px 5px 0 #adb5bd*/
        }
