.wrapper {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    text-align: center;
}

.spons{
    /* height: 100vh; */
    /* overflow-y: scroll; */
    background: url('../about-us/img/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.about, .aftermovie {
    position: relative;
}

.text-center {
    text-align: center;
}

.landing-about-us {
    height: 100vh;
    position: relative;
}

.caption {
    font-family: 'Long Cang', cursive;
}

.h-team {

  z-index: 10;
  margin: 0;
  color: whitesmoke;
  padding: 20px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 34px;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.h-vertical {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    padding-top: 10px;
    color: whitesmoke;
    text-shadow: -1px -1px 0px #2196f3, 3px 3px 0px #2196f3, 6px 6px 0px #0d47a1;
    margin-bottom: 0;
}

.landing-logo {
    position: absolute;
    width: 18%;
    /* position: fixed; */
    left: 50%;
    bottom: 43%;
    transform: translateX(-50%);
    z-index: 12;
    cursor: pointer;
}

.header {
    text-align: center;
    /* padding: 20px; */
    padding: 20px 10%;
    width: 100%;
}

.header > a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 34px;
    margin: 10px;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.header > a.about-us {
    color: #ffbf47;
}

.header>a:hover {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 5px 6px 10px rgba(81,67,21,0.8);
}


.description {
    background-color: #fff;
    padding: 3vw;
    width: 34vw;
    border-radius: 3vw;
    position: absolute;
    top: 5vw;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
    left: 10vw;
    font-size: 16px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

.unmaad-h-about,.unmaad-h-aftermovie {
    font-family: 'Luckiest Guy', cursive;
    font-size: 34px;
    color: tomato;
}
.c-balloon {
    height: 80vh;
    right: 30vh;
    top: 11vh;
    position: absolute;
    animation: swinging 10s ease-in-out forwards infinite;
}

.window-scene {
    height: 70vh;
    right: 0vh;
    top: 20vh;
    position: absolute;
}

.desc-aftermovie {
    top: 2vw;
    background-color: black;
    padding: 3vw;
    width: 70%;
    border-radius: 3vw;
    position: absolute;
    /* top: 5vw; */
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 20%);
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color: #707070;
    font-family: 'Roboto', sans-serif;
}

.scroll-container {
  min-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-container > section {
    min-height: 100vh;
    scroll-snap-align: center;
    position: relative;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: white;
}

.flying-blimp {
    z-index: 10;
    position: absolute;
    top: 60px;
    width: 200%;
    overflow: hidden;
    box-sizing: border-box;
}


.flying-blimp > img {
    position: relative;
    display: inline-block;
    animation: blimp-anim 20s linear infinite;
    animation-delay: 1s;
    will-change: transform;
}

.scroll-nav {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}
.scroll-nav > a > i {
    display: block;
    font-size: 3em;
    margin: 3px;
    color: tomato;
    cursor: pointer;
    text-shadow: 3px 4px 7px black;

}
.scroll-nav > a, .scroll-nav > a:hover{
    text-decoration: none;
}

.scroll-custom {
    position: relative;
    text-align: right;
}


.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../img/loader.gif');
    background-size: 200px;
    background-repeat: no-repeat; 
    background-color: rgb(14,218,205);
    background-position: center;
 }

 .img-spons {
     max-width: 200px;
     max-height: 200px;
    filter: drop-shadow(8px 8px 8px grey);

 }
.white-drop {
    filter: drop-shadow(8px 8px 8px white);

}
 .text-center {
    text-align: center;
 }

 .portfolio-caption {
     margin: 20px 0;
     text-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
 }

.portfolio-item {
    right: 0;
    margin: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.spons-heading {
    padding: 30px;
    font-size: 40px;
    color: #F26800;
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);

}

.section-heading {
    color: #738b89;
    font-family: 'Luckiest Guy', cursive;
    margin: 20px 0;
    text-shadow: 3px 4px 7px white;

}

.person {
    width: 150px;
    height: 300px;
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.person-1 {
    left: 30%;
    background-image: url('./images/spons1.png');
}

.person-2 {
    right: 30%;
    background-image: url('./images/spons2.png');

}

.person-1 > .talk-bubble {
    position: absolute;
    left: 0;
    transform: translateX(-110%) translateY(30px);
}


.person-2 > .talk-bubble {
    position: absolute;
    right: 0;
    transform: translateX(110%) translateY(30px);
}


/* talk bubble css */
.talk-bubble {
	/* margin: 40px; */
  display: inline-block;
  position: relative;
width: 200px;
height: auto;
background-color: lightyellow;
font-family: 'Roboto', sans-serif;
}
.border-a{
  border: 8px solid #666!important;
}
.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border-a.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border-a.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border-a.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border-a.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border-a.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border-a.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border-a.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow transparent transparent lightyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border-a.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -40px;
  top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


@media screen and (max-width: 950px) {
    .landing-logo {
        bottom: 45vh;
        width: 25%;
    }
    .person-1 > .talk-bubble {
        font-size: 12px;
        transform: translateX(-50%) translateY(60px);
    }

    .person-2 > .talk-bubble {
        font-size: 12px;
        transform: translateX(58%) translateY(60px);
    }
    .description {
        padding: 10%;
        width: 80%;
    }
    .c-balloon {
        display: none;
    }
    .desc-aftermovie {
        top: 25%;
    }
    .item {
        width: 100%;
    }
    .person {
        width: 100px;
        height: 200px;
    }
    .tri-right.border-a.right-top:before,.tri-right.border-a.right-top:after,.tri-right.border-a.left-top:before,.tri-right.border-a.left-top:after {
        display: none !important;
    }
}

@media screen and (max-width: 700px) {
    .person {
        width: 100px;
        height: 200px;
    }
    .person-1 > .talk-bubble {
        font-size: 12px;
        transform: translateX(-50%) translateY(60px);}

    .person-2 > .talk-bubble {
        font-size: 12px;
        transform: translateX(58%) translateY(60px);
    }

    .tri-right.border-a.right-top:before,.tri-right.border-a.right-top:after,.tri-right.border-a.left-top:before,.tri-right.border-a.left-top:after {
        display: none !important;
    }
    .landing-logo {
        bottom: 45vh;
        width: 40%;
    }

    .description {
        padding: 10%;
        width: 80%;
    }

    .c-balloon {
        display: none;
    }
    .desc-aftermovie {
        top: 25%;
    }
    .item {
        width: 100%;
    }
}

/* iPad Pro media query */

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .landing-logo {
        bottom: 45vh;
        width: 40%;
    }

    .description {
        padding: 10%;
        width: 80%;
    }
    .c-balloon {
        display: none;
    }
    .desc-aftermovie {
        top: 25%;
    }
    /* .item {
        width: 100%;
    } */

}